<footer>
    <div class="row">
        <div class="col-lg-2">
            <h6><a class="nav-link" href="/about">About</a></h6>
    </div>
    <div class="col-lg-0">
        <h6><a class="nav-link" href="/contact">contact</a></h6>
</div>
<div class="col-lg-6">
    <h6 class="nav-link">Copyright &copy; Aditya Thakkar</h6>
</div>
<div class="col-lg-0">
    <h6><a class="nav-link" >FaceBook</a></h6>
</div>
<div class="col-lg-1">
    <h6><a class="nav-link" >Instagram</a></h6>
</div>
<div class="col-lg-0">
    <h6><a class="nav-link" >Twitter</a></h6>
</div>
    </div>
    
</footer>
    
</body>

</html>