<%- include('./partials/header.ejs')%>
    <div class = "description">
        <p>This web application is to trade item which is created node js and express js with mvc architecture.</p>
    </div>
    <%- include('./partials/footer.ejs')%>  