<%- include('./partials/header.ejs')%>
<div class = "description">
    <h1>Developer :- Aditya Nitinbhai Thakkar</h1>
        <p>Contact Number :- 980 282 9355 </p>
        <p>Email :- athakka5@uncc.edu </p>
</div>
    <%- include('./partials/footer.ejs')%>  