<%- include('./partials/header.ejs')%>
    <div class = "description">
        <h1>Welcome to Niner Traders</h1>
            <p>Niner Traders is the trading platform for trading 
                electronic devices like mobile phones, tablets, laptops, 
                headphones, moniters, and many more. Niner Traders will 
                try to make your expreince smooth in the journey of electronic treding. </p>
    </div>
    <%- include('./partials/footer.ejs')%>  